<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pushAutoRegistrationEnabled</key>
	<false/>
	<key>pushAPIURL</key>
	<string>http://push-notifications.sherry.wine.cf-app.com/v1/</string>
	<key>pushDeviceAlias</key>
	<string>Default Device Alias</string>
	<key>productionPushReleaseSecret</key>
	<string>603ebaf5-3ef6-4465-a119-5f0b80cc7443</string>
	<key>productionPushVariantUUID</key>
	<string>ada50420-640d-43a3-8bb0-6fd0e0b212ba</string>
	<key>developmentPushReleaseSecret</key>
	<string>7542e6d6-fd57-49d7-9dd3-025246f22531</string>
	<key>developmentPushVariantUUID</key>
	<string>2f20da7c-8faf-442a-99f8-eb0caeb02b05</string>
	<key>analyticsAPIURL</key>
	<string>http://ANALYTICSAPIURL.com</string>
	<key>productionAnalyticsKey</key>
	<string>ANALYTICS-KEY</string>
	<key>developmentAnalyticsKey</key>
	<string>ANALYTICS-KEY</string>
</dict>
</plist>
