<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pivotal.push.serviceUrl</key>
	<string>https://push-api.borg.vchs.cfms-apps.com</string>
	<key>pivotal.push.platformUuidDevelopment</key>
	<string>.</string>
	<key>pivotal.push.platformSecretDevelopment</key>
	<string>.</string>
	<key>pivotal.push.platformUuidProduction</key>
	<string>8412f3d4-9cfb-436f-bed8-5c795f3e80d8</string>
	<key>pivotal.push.platformSecretProduction</key>
	<string>cd791d8c-840a-4a9d-af04-e6bc83580795</string>
	<key>pivotal.auth.tokenUrl</key>
	<string>https://datasync-authentication.borg.vchs.cfms-apps.com/token</string>
	<key>pivotal.auth.authorizeUrl</key>
	<string>https://datasync-authentication.borg.vchs.cfms-apps.com/authorize</string>
	<key>pivotal.auth.redirectUrl</key>
	<string>io.pivotal.ios.data://oauth2callback</string>
	<key>pivotal.auth.clientId</key>
	<string>ios-client</string>
	<key>pivotal.auth.clientSecret</key>
	<string>006d0cea91f01a82cdc57afafbbc0d26c8328964029d5b5eae920e2fdc703169</string>
	<key>pivotal.auth.scopes</key>
	<string>openid offline_access</string>
	<key>pivotal.data.serviceUrl</key>
	<string>https://datasync-datastore.borg.vchs.cfms-apps.com/data/transit</string>
	<key>pivotal.data.collisionStrategy</key>
	<string>OptimisticLocking</string>
</dict>
</plist>
